<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trainer</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  </head>
  <body>
    <div class="top">
      <div class="logoArea">
        <img class="logoImg" src="images/Brain.jpg" alt="img">
      </div>
      <div class="menu">
        <ul class="lists">
          <li>Pic Trainer
            <ul>
              <li>Humans</li>
              <li>Animals</li>
              <li>Objects</li>
            </ul>
          </li>
          <li>Number Trainer</li>
          <li>Audio Trainer</li>
          <li>Video Trainer</li>
          <li>Reader</li>
        </ul>
      </div>
      <div class="home">

      </div>
    </div>
    <div class="mainBody">

      <div class="container">
        <div class="row ligne">

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/cristiano ronaldo.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Cristiano Ronaldo</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/lionel messi.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Lionel Messi</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/mo salah.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Mo Salah</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/neymar jr.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Neymar Jr</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/sadio mane.jpeg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Sadio Mane</p>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row ligne">

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/kaka.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Kaka</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/mesult ozil.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Mesult Ozil</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/ronaldo.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Ronaldo</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/ronaldinho.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Ronaldinho</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/Raheem Sterling.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Fifth</p>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row ligne">

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/cristiano ronaldo.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">First</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/lionel messi.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Second</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/mo salah.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Third</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/neymar jr.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Fourth</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/sadio mane.jpeg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Fifth</p>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row ligne">

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/cristiano ronaldo.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">First</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/lionel messi.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Second</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/mo salah.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Third</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/neymar jr.jpg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Fourth</p>
          </div>

          <div class="col-lg elems">
            <div class="picTrainer">
              <img src="images/sadio mane.jpeg" alt="" class="piTrainerImg">
            </div>
            <form class="formulaire" action="/" method="post">
              <input type="text" name="reponse" value="">
              <button type="submit" name="button">Valider</button>
            </form>
            <p class="answer">Fifth</p>
          </div>

        </div>
      </div>

    </div>
    <div class="footer">

    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="apps.js" charset="utf-8"></script>
  </body>
</html>
